body {
	background-color: white;
	color: #222;
	font: 16px Roboto, sans-serif;
	text-align: center;
}
#subtitle {
	font-weight: bold;
}
#input-row {
	height: 32px;
	display: flex;
	justify-content: center;
}
#input-row > label {
	flex-grow: 1;
	max-width: 500px;
	display: flex;
	line-height: 32px;
}
#studio-input {
	flex-grow: 1;
	margin: 0 8px;
}
input, button {font: inherit;}
body:not(.waiting) progress {display: none;}
body:not(.complete) #result {display: none;}
body:not(.error) #error {display: none;}
h2 {margin-top: 48px;}
#examples {padding: 0;}
#examples li {display: block;}
#examples button {
	display: inline-block;
	padding: 4px;
}
#examples button:not(:hover) {
	background-color: transparent;
	border-color: transparent;
}
#examples button > img {
	width: 85px;
	height: 50px;
	margin-right: 8px;
}
#examples button > * {vertical-align: middle;}
.small {
	font-size: 12px;
	font-style: italic;
}
#footer {
	color: #aaa;
	margin-top: 48px;
}
a {color: blue}
