body {
	background-color: white;
	color: #222;
	font: 16px sans-serif;
	text-align: center;
}
#subtitle {
	font-weight: bold;
}
#input-row {
	display: block;
	justify-content: center;
}
#input-row > label {
	flex-grow: 1;
	max-width: 500px;
	line-height: 32px;
}
@media (min-width: 600px) {
	#input-row,
	#input-row > label {
		display: flex;
	}
}
#studio-input {
	flex-grow: 1;
	margin: 0 8px;
	height: 32px;
	box-sizing: border-box;
}
#ok {
	height: 32px;
	box-sizing: border-box;
}
input, button {font: inherit;}
#status {
	height: 1.2em;
	line-height: 1.2em;
}
body:not(.waiting) #status progress {display: none;}
body:not(.complete) #status .result {display: none;}
body:not(.error) #status .error {display: none;}
#examples {
	height: calc(2em + 5*62px);
}
#examples:not(.loading) progress {display: none;}
#examples ul {
	margin: 1em;
	padding: 0;
}
#examples li {display: block;}
#examples button {
	display: inline-block;
	box-sizing: border-box;
	height: 62px;
	padding: 0 4px;
}
#examples button:not(:hover) {
	background-color: transparent;
	border-color: transparent;
}
#examples button > img {
	width: 85px;
	height: 50px;
	margin-right: 8px;
}
#examples button > * {vertical-align: middle;}
.small {
	font-size: 12px;
	font-style: italic;
}
#footer {
	color: #606060;
	margin-top: 48px;
}
a {color: blue}
